.commitIcon {
    justify-content: center;
    margin-bottom: 30px;
    .image {
        width: 80px;
        height: 80px;
        border-radius: 40px;
    }
    .content {
        font-family: 'Times New Roman', Times, serif;
        color: yellow;
        font-size: 25px;
    }
}