.cardContainer {
    transition: transform 0.3s ease, border-radius 0.3s ease;
    .imageContainer {
        height: 180px;
        position: relative;
        overflow: hidden;
        .image {
            width: 100%;
            height: auto;
            display: block;
        }  
    }
    .content {
        color: red;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 700;
        font-size: medium;
    }
    &:hover {
        transform: scale(1.1);
        border-radius: 15px;
    }
}
