.sliderContainer {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    .slider {
      .contentStyle{
        height: 400px;
        width: 100%;
        img {
          display: block;
          margin: auto;
        }
      }
      .slick-slide {
        text-align: center;
        height: 300px;
        line-height: 300px;
        background: #364d79;
        color: #fff;
        overflow: hidden;
      }
    
      .slick-dots li button:before {
        font-size: 12px;
      }
    
      .slick-dots li.slick-active button:before {
        color: #1890ff;
      }
    }
}
  
  
  